/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.cursive-title {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 4em;

}
.cursive-text {
    font-family: 'Cedarville Cursive', cursive;
    
}
.dancing-text {
    font-family: 'Dancing Script', cursive;
}
.dancing-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}